<section class="login bg-secondary-subtle px-5 pb-5 m-auto rounded shadow" id="login">
  <div class="p-5 text-center container-md p-3">
    <% if (!user) { %>
    <h1 class="rainbow">Sign in</h1>
    <form action="/login/password" method="post" class="w-100">
      <div class="row">
        <label for="username" class="form-label mt-3">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" class="form-control" required autofocus />
      </div>
      <div class="row">
        <label for="current-password" class="form-label mt-3">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" class="form-control" required />
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary mt-3">Sign in</button>
      </div>
    </form>
    <% } %> <% if (user) { %>
    <div class="row">
      <p>Hey <%=user.username%>!</p>
      <form action="/login/logout" method="get">
        <button class="logout" type="submit">Sign out</button>
      </form>
    </div>
    <% } %>
  </div>
</section>
