<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memes Central</title>
    <%- include('./partials/head.ejs') %>
    <link href="./stylesheets/login/login.css" rel="stylesheet" />
  </head>

  <body class="position-relative" data-bs-spy="scroll">
    <%- include('./partials/navbar.ejs') %>
    <main><%- include('./partials/login.ejs') %></main>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
