form {
  background-image: url("/images/memes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.search-container {
  background-color: rgba(92, 92, 92, 0.5);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

table {
  width: 100%;
  /* table-layout: fixed; */
}

td {
  padding: 5px; /* Adjust padding to reduce empty space */
  text-align: center; /* Center the content */
}

td,
th {
  text-align: center; /* Center the text for a cleaner look */
  vertical-align: middle; /* Vertically align content to the middle */
}
