#searchMemes {
  background-image: url("/images/memes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.search-container {
  background-color: rgba(92, 92, 92, 0.5);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

table {
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}

.visited td {
  background-color: rgb(217, 202, 234);
}

.visited button {
  background-color: blueviolet;
  border-color: purple;
}

.visited button:hover {
  background-color: rgb(113, 25, 195);
  border-color: rgb(96, 0, 128);
}
